.back {
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/826/525/non_2x/online-marketplace-word-concepts-banner-remote-product-selling-infographics-with-linear-icons-on-navy-background-isolated-creative-typography-outline-color-illustration-with-text-vector.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}