.login-page {

  .container-login-form,
  .container-login-logo {
    height: 100vh;
  }

  .container-login-logo {
    background-color: #dfdfdf;

    .login-logo-abd {
      width: 60%;
      display: block;
      margin: auto;
    }
  }

  .container-login-form {
    background-color: white;

    .options-password {
      margin-top: 2rem;
    }
  }

  .paragraph-login-abd:hover {
    cursor: pointer;
  }

}